* { border: 1px black solid;}

/*body {
	background-image: url("images/back.jpg");
}*/

.gameOutine{
	background-image: : url("http://buysellgraphic.com/images/graphic_preview/large/blue_lights_21038.jpg");
}